@using CqrsModel.Commands
@using CqrsModel.Projektionen
@model CqrsModel.Projektionen.Auftrag

@{
    ViewBag.Title = "Annehmen";
}

<h2>Annehmen</h2>

<fieldset>
    <legend>Auftrag</legend>

    <div class="display-label">
         @Html.Label("Kunde")
    </div>
    <div class="display-field">
        @Html.Raw((string)ViewBag.Kunde.Name)
    </div>
    
    <div class="display-label">
         @Html.Label("Anschrift des Kunden")
    </div>
    <div class="display-field">
        @Html.Raw((string)ViewBag.Kunde.Anschrift)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Lieferanschrift)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Lieferanschrift)
    </div>

        
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Verkaufswert)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Verkaufswert)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Lieferkosten)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Lieferkosten)
    </div>
    
    
    <div id="auftragszeilen">
    <h3>Positionen</h3>
    <table>
        <tr>
    <th>@Html.Label("Bezeichnung")</th>
    <th>@Html.Label("Menge")</th>
    <th>@Html.Label("Lagerbestand")</th>
    <th>@Html.Label("ImZulauf")</th>
            <th>@Html.Label("Verkaufspreis")</th>
            <th>Summe</th>
</tr>
        @{ ViewBag.Modifizierbar = false; }
        @foreach (var zeile in Model.Zeilen)
        {
            @Html.DisplayFor(_=>zeile)
        }
    
    </table>
        
</div>
    

</fieldset>
<p>
    @Html.ActionLink("Auftrag annehmen", "DoAnnehmen", new { id=Model.Id } )
    @Html.ActionLink("Back to List", "Index")
</p>
