@model CqrsModel.Projektionen.Auftrag

@{
    ViewBag.Title = "Disponieren";
}

<h2>Disponieren</h2>

<table>
    <tr>
        <th>Produkt</th>
        <th>Bestellt</th>
        <th>Offen</th>
        <th>Bestand</th>
        <th>Zulauf</th>
        <th>VK</th>
        <th></th>
        <th></th>
    </tr>
    
    @foreach (var zeile in Model.Zeilen)
    {
        <tr>
            <td>@Html.Raw(zeile.Produkt.Bezeichnung)</td>
            <td>@Html.Raw(zeile.Menge)</td>
            <td>@Html.Raw(zeile.Menge-zeile.Disponiert)</td>
            <td>@Html.Raw(zeile.Produkt.Lagerbestand)</td>
            <td>@Html.Raw(zeile.Produkt.ImZulauf)</td>
            <td>@Html.Raw(zeile.Produkt.Verkaufspreis)</td>
            @using (Html.BeginForm("Disponieren","Auftraege"))
            {
                @Html.Hidden("AuftragId", Model.Id)
                @Html.Hidden("Zeile", zeile.ZeileId)
                <td><input type="text" name="Menge" value="@Html.Raw(zeile.Menge-zeile.Disponiert)"/></td>
                <td><input type="submit" value="Dispo" /></td>
            }
        </tr>
    }

</table>
