@model CqrsModel.Commands.AuftragsdatenBearbeiten
@{
    ViewBag.Title = "EditAuftragsadaten";
}

@using (Html.BeginForm("EditAuftrag","Auftraege")) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Zusammenfassung</legend>
        
        @Html.HiddenFor(_=>_.AuftragId)

        <div class="display-label">
            @Html.Label("Einkaufswert")
        </div>
        <div class="display-field">
            @Html.Raw((string)ViewBag.Auftrag.Einkaufswert.ToString())
        </div>
        
        <div class="display-label">
            @Html.Label("Verkaufswert")
        </div>
        <div class="display-field">
            @Html.Raw((string)ViewBag.Auftrag.Verkaufswert.ToString())
        </div>

        <div class="editor-label">
            @Html.LabelFor(_=>_.Lieferkosten)
        </div>
        <div class="editor-field">
            @Html.EditorFor(_ => _.Lieferkosten)
        </div>
        
       
        <div class="editor-label">
            @Html.LabelFor(_=>_.Lieferanschrift)
        </div>
        <div class="editor-field">
            @Html.EditorFor(_ => _.Lieferanschrift)
        </div>

        <p>
            <input type="submit" value="Übernehmen" />
        </p>
    </fieldset>
}
