@using System.Web.Optimization
@using CqrsModel.Commands
@using CqrsModel.Projektionen

@{
    ViewBag.Title = "Auftrag erfassen";
}

<h2>Auftrag erfassen</h2>

<div id="kopfdaten">
    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Auftragskopf</legend>

            <div class="display-label">
                @Html.Label("Kunde")
            </div>
            <div class="display-field">
                @Html.Display((string)ViewBag.Auftrag.Kunde.Name)
            </div>
        
        </fieldset>
    }    
</div>

<div id="auftragszeilen">
    <h3>Positionen</h3>
    <table>
        <tr>
    <th>@Html.Label("Bezeichnung")</th>
    <th>@Html.Label("Menge")</th>
    <th>@Html.Label("Lagerbestand")</th>
    <th>@Html.Label("ImZulauf")</th>
            <th>@Html.Label("Verkaufspreis")</th>
            <th>Summe</th>
</tr>
        @{ ViewBag.Modifizierbar = true; }
        @foreach (var zeile in (IEnumerable<Auftragszeile>)ViewBag.Auftrag.Zeilen)
        {
            @Html.DisplayFor(_=>zeile)
        }
    
    </table>
    
    @Html.Partial("NeueZeile", (AuftragZeileHinzufuegen)ViewBag.NeueZeile)
</div>

<div id="zusammenfassung">
    @Html.Partial("EditAuftragsdaten", (AuftragsdatenBearbeiten)ViewBag.Auftragsdaten)
</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
