@model IEnumerable<CqrsModel.Projektionen.Auftrag>

@{
    ViewBag.Title = "Auftragsliste";
}

<h2>Auftragsliste</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kunde.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lieferanschrift)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Verkaufswert)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lieferkosten)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(model => item.Status)
        </td>
        <td>
            @Html.DisplayFor(model => item.Kunde.Name)
        </td>
        <td>
            @Html.DisplayFor(model => item.Lieferanschrift)
        </td>

        <td>
            @Html.DisplayFor(model => item.Verkaufswert)
        </td>
        <td>
            @Html.DisplayFor(model => item.Lieferkosten)
        </td>
        
        <td>
            @Html.ActionLink("Bearbeiten", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Annehmen", "Annehmen", new { id = item.Id }) |
            @Html.ActionLink("Disponieren", "Disponieren", new { id=item.Id }) |
            @Html.ActionLink("Stornieren", "Stornieren", new { id=item.Id })
        </td>
    </tr>
}

</table>
